In [1]:
import pandas
import numpy as np

def round_(x):
    if x.dtype == "float64":
        return np.round(x,2)
    else:
        return x

df = pandas.read_csv("results/unsupervised.csv")
df["ami"] = df["ami"]/100
_max_unsup = df.groupby(["dataset","kalofolias","nnk"]).agg("max").apply(round_)["ami"]

_max_unsup

dataset     kalofolias  nnk
ESC-50      False       False    0.65
                        True     0.66
            True        False    0.65
cora        False       False    0.34
                        True     0.34
            True        False    0.27
flowers102  False       False    0.46
                        True     0.44
            True        False    0.44
Name: ami, dtype: float64

In [2]:
df = pandas.read_csv("results/labelprop.csv")
_max_label = df.groupby(["dataset","kalofolias","nnk"]).agg("max").apply(round_)["label_prop_test"]

_max_label

dataset     kalofolias  nnk
ESC-50      False       False    59.05
                        True     57.44
            True        False    59.16
cora        False       False    58.86
                        True     58.66
            True        False    58.60
flowers102  False       False    36.73
                        True     33.57
            True        False    37.01
Name: label_prop_test, dtype: float64

In [3]:
df = pandas.read_csv("results/sgc.csv")
_max_sgc = df.groupby(["dataset","kalofolias","nnk"]).agg("max").apply(round_)["acc_test"]

_max_sgc

dataset     kalofolias  nnk
ESC-50      False       False    60.48
                        True     61.38
            True        False    59.36
cora        False       False    67.19
                        True     66.58
            True        False    66.28
flowers102  False       False    37.73
                        True     36.81
            True        False    37.50
Name: acc_test, dtype: float64

In [4]:
df = pandas.read_csv("results/benchmark_denoising.csv")
_max_denoising = df.groupby(["dataset","kalofolias","nnk"]).agg("max").apply(round_)["snr"]

_max_denoising

dataset  kalofolias  nnk
toronto  False       False     9.80
                     True      9.99
         True        False    10.41
Name: snr, dtype: float64

In [43]:
pandas.concat([_max_unsup,_max_sgc,_max_label,_max_denoising],axis=1)

                              ami  acc_test  label_prop_test    snr
dataset    kalofolias nnk
ESC-50     False      False  0.65       NaN            59.05    NaN
                      True   0.66       NaN            57.44    NaN
           True       False  0.65     59.36            59.16    NaN
cora       False      False  0.34     67.19            58.86    NaN
                      True   0.34     66.58            58.66    NaN
           True       False  0.27     66.28            58.60    NaN
flowers102 False      False  0.46     37.73            36.73    NaN
                      True   0.44     36.81            33.57    NaN
           True       False  0.44     37.50            37.01    NaN
toronto    False      False   NaN       NaN              NaN   9.80
                      True    NaN       NaN              NaN   9.99
           True       False   NaN       NaN              NaN  10.41